:root {
    --background-1: rgba(220, 198, 165, 1);
    --background-2: rgba(193, 100, 29, 1);
    --background-3: rgba(194, 161, 119, 1);
    --background-4: rgba(56, 29, 2, 1);
    --background-5: rgba(241, 148, 38, 1);
    --background-6: rgba(239, 239, 239, 1);
    --body-light-12-font-family: "Quicksand-Light", Helvetica;
    --body-light-12-font-size: 12px;
    --body-light-12-font-style: normal;
    --body-light-12-font-weight: 300;
    --body-light-12-letter-spacing: 0px;
    --body-light-12-line-height: 15px;
    --body-medium-14-font-family: "Quicksand-Medium", Helvetica;
    --body-medium-14-font-size: 14px;
    --body-medium-14-font-style: normal;
    --body-medium-14-font-weight: 500;
    --body-medium-14-letter-spacing: 0px;
    --body-medium-14-line-height: 18px;
    --body-medium-16-font-family: "Quicksand-Medium", Helvetica;
    --body-medium-16-font-size: 16px;
    --body-medium-16-font-style: normal;
    --body-medium-16-font-weight: 500;
    --body-medium-16-letter-spacing: 0px;
    --body-medium-16-line-height: 20px;
    --body-regular-14-font-family: "Quicksand-Regular", Helvetica;
    --body-regular-14-font-size: 14px;
    --body-regular-14-font-style: normal;
    --body-regular-14-font-weight: 400;
    --body-regular-14-letter-spacing: 0px;
    --body-regular-14-line-height: 18px;
    --body-regular-18-font-family: "Quicksand-Regular", Helvetica;
    --body-regular-18-font-size: 18px;
    --body-regular-18-font-style: normal;
    --body-regular-18-font-weight: 400;
    --body-regular-18-letter-spacing: 0px;
    --body-regular-18-line-height: 23px;
    --button-bold-14-font-family: "Quicksand-Bold", Helvetica;
    --button-bold-14-font-size: 14px;
    --button-bold-14-font-style: normal;
    --button-bold-14-font-weight: 700;
    --button-bold-14-letter-spacing: 0px;
    --button-bold-14-line-height: 18px;
    --button-bold-16-font-family: "Quicksand-Bold", Helvetica;
    --button-bold-16-font-size: 16px;
    --button-bold-16-font-style: normal;
    --button-bold-16-font-weight: 700;
    --button-bold-16-letter-spacing: 0px;
    --button-bold-16-line-height: 20px;
    --button-bold-20-font-family: "Quicksand-Bold", Helvetica;
    --button-bold-20-font-size: 20px;
    --button-bold-20-font-style: normal;
    --button-bold-20-font-weight: 700;
    --button-bold-20-letter-spacing: 0px;
    --button-bold-20-line-height: 26px;
    --display-bold-40-font-family: "Quicksand-Bold", Helvetica;
    --display-bold-40-font-size: 46px;
    --display-bold-40-font-style: normal;
    --display-bold-40-font-weight: 700;
    --display-bold-40-letter-spacing: 0px;
    --display-bold-40-line-height: 60px;
    --header-bold-18-font-family: "Quicksand-Bold", Helvetica;
    --header-bold-18-font-size: 18px;
    --header-bold-18-font-style: normal;
    --header-bold-18-font-weight: 700;
    --header-bold-18-letter-spacing: 0px;
    --header-bold-18-line-height: 23px;
    --header-bold-20-font-family: "Quicksand-Bold", Helvetica;
    --header-bold-20-font-size: 20px;
    --header-bold-20-font-style: normal;
    --header-bold-20-font-weight: 700;
    --header-bold-20-letter-spacing: 0px;
    --header-bold-20-line-height: 26px;
    --header-bold-32-font-family: "Quicksand-Bold", Helvetica;
    --header-bold-32-font-size: 32px;
    --header-bold-32-font-style: normal;
    --header-bold-32-font-weight: 700;
    --header-bold-32-letter-spacing: 0px;
    --header-bold-32-line-height: 41px;
    --piper-100: rgba(248, 234, 205, 1);
    --piper-200: rgba(240, 211, 151, 1);
    --piper-300: rgba(232, 184, 97, 1);
    --piper-400: rgba(227, 159, 60, 1);
    --piper-50: rgba(253, 248, 237, 1);
    --piper-500: rgba(219, 129, 37, 1);
    --piper-600: rgba(195, 98, 30, 1);
    --piper-700: rgba(161, 70, 28, 1);
    --piper-800: rgba(131, 55, 29, 1);
    --piper-900: rgba(108, 46, 27, 1);
    --piper-950: rgba(62, 22, 10, 1);
    --primary: rgba(195, 98, 30, 1);
    --secondary: rgba(233, 174, 112, 1);
    --shadow-category: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
    --stateerror: rgba(235, 87, 87, 1);
    --stateinfo: rgba(47, 128, 237, 1);
    --statesuccess: rgba(39, 174, 96, 1);
    --statewarning: rgba(226, 185, 59, 1);
    --textblack: rgba(29, 29, 29, 1);
    --textgrey: rgba(170, 166, 162, 1);
    --textred: rgba(251, 55, 55, 1);
    --textwhite: rgba(255, 255, 255, 1);
    --white-100: rgba(239, 239, 239, 1);
    --white-200: rgba(220, 220, 220, 1);
    --white-300: rgba(189, 189, 189, 1);
    --white-400: rgba(152, 152, 152, 1);
    --white-50: rgba(255, 255, 255, 1);
    --white-500: rgba(124, 124, 124, 1);
    --white-600: rgba(101, 101, 101, 1);
    --white-700: rgba(82, 82, 82, 1);
    --white-800: rgba(70, 70, 70, 1);
    --white-900: rgba(61, 61, 61, 1);
    --white-950: rgba(41, 41, 41, 1);
  }
  